<div class="form-container">
  <h1>Login</h1>
  <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      formControlName="username"
      required
    />

    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      formControlName="password"
      required
    />

    <button type="submit">Login</button>
  </form>
</div>
